.display {
  display: grid;

  position: absolute;
  overflow: hidden;
  width: 1600px;
  height: 900px;

  outline: 1px solid red;
}

.display .c {
  position: absolute;
  right: 0;
  height: 400px;
}
