.display {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr 1fr 1fr;

  position: absolute;
  overflow: hidden;
  width: 1600px;
  height: 900px;
}

.display .c {
  display: none;
  position: absolute;
  right: 0;
  height: 400px;
  width: 400px;
}

.upper-thirds {
  grid-column: 1 / span 3;
  grid-row: 1;

  background: linear-gradient(6deg, rgba(#090a0c, 0) 75%, rgba(#090a0c, 0.6));
}
.middle-thirds {
  grid-column: 1 / span 3;
  grid-row: 2;
  align-self: center;
}
.lower-thirds {
  grid-column: 1 / span 3;
  grid-row: 3;
  align-self: end;
}

.upper-thirds {
  display: grid;
  padding: 20px;

  grid-auto-columns: 156px;
  grid-auto-rows: 42px;
}

.display .t {
}

.upper-thirds .spg {
  grid-column: 9 / 11;
}
.upper-thirds .ls {
  grid-column: 9 / 11;
  margin-top: 8px;
}

/* Debug. */
.display,
.upper-thirds,
.middle-thirds,
.lower-thirds {
  // outline: 1px solid red;
}
