.t {
  background: #090a0c;

  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.t-cap {
  background: #121417;
  padding: 12px 8px 12px 10px;
}
