@import 'helpers/css/variables.scss';

.m {
  display: grid;
  grid-auto-columns: 70px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  position: absolute;
  width: 1600px;
  height: 900px;
  padding: 24px;
  z-index: 1000;
}

.brb-dialog {
  grid-column: 9 / 13;
  grid-row: 2 / span 2;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(#090a0c, 0.19), 0 6px 6px rgba(#090a0c, 0.23);
  font-family: $font-gotham;
}

.dlg-header {
  border-top: 1px solid #dce0e5;
  padding: 24px 32px 12px;
  color: #4f5c69;
  font-size: 18px;
}

.dlg-message {
  flex: 1;
  padding: 0 32px 24px;
  color: #738596;
  font-size: 14px;
}

.dlg-image {
  padding: 48px 24px 0;
  overflow: hidden;
  background: linear-gradient(45deg, #00eac9, #02fa7b);
  text-align: center;

  img {
    position: relative;
    bottom: -4px;
  }
  .dlg-emote {
    -webkit-filter: drop-shadow(0 6px 3px rgba(#090a0c, 0.5));
  }
}

.brb-cap {
  font-family: $font-miedinger;
}

.dlg-footer {
  display: flex;
  align-items: center;
  padding: 12px 32px 12px 16px;
  border-top: 1px solid #dce0e5;
  background: #e8ebed;
  color: #607080;
  font-family: $font-forza;
  font-weight: 600;
  text-transform: uppercase;
}

.door {
  position: absolute;
  left: 0;
  width: 1600px;
  height: 450px;
  z-index: -1;

  background: rgba(#090a0c, 0.75);
}

.top-door {
  top: 0;
}

.bottom-door {
  bottom: 0;
}
