@import 'helpers/css/variables.scss';

.eci {
  display: flex;
  align-items: center;
  padding-top: 8px;

  font-family: $font-gotham;
}

.eci img {
  position: relative;
  z-index: 10;
}

.eci-count {
  position: relative;
  padding: 6px 12px 6px 26px;
  margin-left: -20px;

  background: rgba(#000, 0.6);
  box-shadow: 0 0 0 1px rgba(#fff, 0.1);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
