@import 'helpers/css/variables.scss';

.sm {
  display: flex;
  margin: 0 40px 0 20px;
  height: 34px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(#090a0c, 0.12), 0 1px 2px rgba(#090a0c, 0.24);
  color: #f3f5f6;
}

.sm-node {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  font-family: $font-gotham;
  font-size: 14px;
  font-weight: 500;

  svg {
    margin-right: 4px;
  }
}

.sm-cap {
  flex: none;
  padding: 0 12px 0 10px;
  background: linear-gradient(#23292f, #1a1f23);

  color: #738596;
  font-family: $font-forza;
  font-weight: 700;

  svg {
    margin-right: 0;
  }
}

.sm-twitter {
  padding-left: 4px;
  background: linear-gradient(#2c333a, #23292f);
}

.sm-youtube {
  padding-right: 4px;
  background: linear-gradient(#2c333a, #23292f);
}
