.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: #dee3e8;
}

.logo {
  position: relative;
}
.logotype {
  position: absolute;
  right: -20px;
  bottom: -22px;
}
