// Normalize.
@import '~normalize.css';

// Helpers.
@import 'helpers/css/fonts.scss';

// Foundational styles.
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
}
