.intertitle {
  display: grid;
  grid-auto-columns: 148px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 8px;

  position: absolute;
  overflow: hidden;
  padding: 0 24px;
  width: 1600px;
  height: 900px;
}

.intertitle .c {
  grid-column: 8 / 11;
  grid-row: 1 / 4;
  margin-right: -24px;
  padding: 0 24px;
}
