.activity {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: 24px 1fr 1fr 1fr;

  position: absolute;
  overflow: hidden;
  width: 1600px;
  height: 900px;

  background: linear-gradient(7deg, rgba(#090a0c, 0) 85%, rgba(#090a0c, 0.6));
}

.upper-thirds {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.middle-thirds {
  grid-column: 1 / 4;
  grid-row: 3;
  align-self: center;
}

.lower-thirds {
  grid-column: 2 / 3;
  grid-row: 4;
  align-self: end;
}

.upper-thirds {
  display: grid;

  grid-auto-columns: 148px;
  grid-auto-rows: 42px;
  grid-gap: 8px;
}

.upper-thirds .spg {
  grid-column: 9 / 11;
}

.upper-thirds .ls {
  grid-column: 9 / 11;
  margin-bottom: 8px;
}

.lower-thirds {
  display: grid;

  grid-auto-columns: 148px;
  grid-auto-rows: 68px;
  grid-gap: 8px;
}

.lower-thirds .sm {
  grid-column: 1 / 4;
  grid-row: 4;
  align-self: center;
  z-index: 100;
}

.lower-thirds .t {
  grid-column: 1 / 11;
  grid-row: 4;
  margin: 0 -24px;
  z-index: 200;
}

.lower-thirds .n {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  z-index: 300;
}

.lower-thirds .cs {
  grid-column: 9 / 11;
  grid-row: 1 / 5;
  align-self: end;
  z-index: 400;
}
