$font-url: 'https://synthform.s3.amazonaws.com/fonts';

@font-face {
  font-family: 'Miedinger';
  src: url($font-url + '/miedinger_thin-webfont.woff2') format('woff2'),
    url($font-url + '/miedinger_thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Miedinger';
  src: url($font-url + '/miedinger_light-webfont.woff2') format('woff2'),
    url($font-url + '/miedinger_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Miedinger';
  src: url($font-url + '/miedinger_regular-webfont.woff2') format('woff2'),
    url($font-url + '/miedinger_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Miedinger';
  src: url($font-url + '/miedinger_medium-webfont.woff2') format('woff2'),
    url($font-url + '/miedinger_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Miedinger';
  src: url($font-url + '/miedinger_bold-webfont.woff2') format('woff2'),
    url($font-url + '/miedinger_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
